body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.navbar {
    background-color: #2196F3;
	flex-wrap: wrap;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #0b7dda;
}

.index .background-image {
    background-image: url('assets/gold.jpg');
	background-repeat: repeat-y;
    background-size: cover;
	flex: 1;
}

.index .background-image > div {
	background-color: #ffffff33;
	height: 100%;
	width: 100%;
}

.index .content {
	margin: 0 30px;
	backdrop-filter: blur(10px);
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.index .content > section {
	flex: 1;
	width: min-content;
	padding: 30px;
	background-color: #2196F3;
	text-align: center;
	color: white;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.index .content > section:not(:last-child) {
	margin-right: 30px;
}

h1 {
    text-align: center;
    padding: 20px;
}

.tos .content {
	padding: 30px;
	scroll-behavior: smooth;
	overflow-y: scroll;
}

.tos h1 {
	text-align: left;
	font-size: 24px;
	margin-bottom: 20px;
}

.tos p {
	line-height: 1.6;
}

.data .content {
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.data table {
    border-collapse: collapse;
	margin: 30px;
    margin-top: 20px;
	background-color: white;
}

.data th {
    font-weight: bold;
    text-align: left;
    padding: 8px;
}

.data td {
    padding: 8px;
    border: 1px solid #ccc;
}

.data footer > p {
	margin: 30px;

}
